@{
    ViewBag.Title = "Yhteystiedot";
    ViewBag.Keksinto = "Meistä";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>User: @ViewBag.UserName</p>

<address>
    Helsinginkatu 2<br />
    Helsinki<br />
    <abbr title="Puhelin">P:</abbr>
    045145789
</address>
<h5>@ViewBag.Keksinto</h5>
<address>
    <strong>Tuki:</strong>   <a href="mailto:info@tuki.fi">info@tuki.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:info@myynti.fi">info@myynti.fi</a>
</address>